.sprint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    width: 90%;
    text-align: center;
    height: 100vh;
    padding: 50px 0;
}

.audiocall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    width: 90%;
    text-align: center;
    height: 100vh;
    padding: 50px 0;
  }

.difficulty-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.difficulty-container-title {
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.difficulty-container-description {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.difficulty-header {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  font-size: 0.8rem;
  color: white;
  opacity: 1;
}

.difficulty-title {
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
}

.difficulty-buttons-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficulty-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 150px;
}

.difficulty-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    font-size: 1rem;
    opacity: 0.5;
    border: #fff solid 2px;
    flex-shrink: 0;
    margin: 0.2rem;
    color: white;
}

.difficulty-button:hover {
    opacity: 1;
    transform: scale(1.1);
}

.timer-container {
    position: absolute;
    top: 60px;
    right: 50px;
    color: white;
    font-size: 3rem;
}

.game-score {
    color: white;
    font-size: 3rem;
    display: none;
}

.question-container-sprint {
    opacity: .5;
    color: white;
    display: flex;
    padding: 1rem;
    min-width: 50%;
    min-height: 200px;
    flex-direction: column;
    background-color: black;
}

.question-word-sprint {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
    min-width: auto;
}

.question-translate-sprint {
    line-height: 1.334;
    letter-spacing: 0em;
}

.sprint-answer-button {
    width: 100px;
    height: 50px;
    color: white;
}

.right-answer {
    background-color: green;
}

.wrong-answer {
    background-color: red;
}

.question-buttons-sprint {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.question-container-audiocall {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.question-word-audiocall {
    width: 100%;
    height: 210px;
    position: relative;
    background: url("../assets/svg/play-button.svg") no-repeat center;
}

.question-buttons-audiocall {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
}

.question-button-audiocall {
    background: transparent;
    color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.audiocall-without-answer-button {
    background: transparent;
    color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    opacity: .5;
}

.audiocall-without-answer-button:hover, .audiocall-without-answer-button:focus {
    opacity: 1;
}

.game-wrong-answers-header {
    color: red;
}

.game-correct-answers-header {
    color: green;
}

.game-word-results-container {
    display: flex;
    justify-content: flex-start;
}

.game-results {
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 2000;
}

.game-word-results-audio {
    background: url("../assets/svg/headphones.svg");
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.game-word-results-description {
    margin-right: 20px;
}

.game-word-results-description {
    font-weight: 600;
    color: blue;
}

.game-results-button {
    width: 150px;
    height: 30px;
}