.loader {
    overflow: hidden;
    z-index: 1001;
    margin-bottom: 80px;
  }

  .loader__image {
    width: 40px;
    height: 40px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }

  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .loading {
    transition: 0.3s opacity;
    opacity: 0;
  }

  .loaded {
    display: none;
  }