.textbook-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__btn_difficult {
    position: relative;
    &::before {
        content: "Добавить слово в 'Сложные слова'";
        position: absolute;
        width: 120px;
        top: -45px;
        left: -90px;
        padding: 5px;
        display: none;
        font-size: .5rem;
        color: #fff;
        background-color: rgba(0, 0, 0, .6);
    }
    &:not(.selected):hover::before {
        display: inline-block;
    }
}
.card__btn_studied {
    position: relative;
    &::before {
        content: "Добавить слово в 'Изученные слова'";
        position: absolute;
        width: 120px;
        top: 30px;
        left: -90px;
        padding: 5px;
        display: none;
        font-size: .5rem;
        color: #fff;
        background-color: rgba(0, 0, 0, .6);
    }
    &:not(.selected):hover::before {
        display: inline-block;
    }
}
