*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  font-size: 16px;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}