doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title RS-Lang
  body
  header.header-ui
    .header__content 
      .top-navigation-ui
      .header__logo-container
      .header__registration-container
  main.main-contaner
    aside#nav.side-navigation-ui 
    #main.main-ui 
  footer.footer-ui
