doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title RS-Lang
  body
  header.header-ui#header-ui
    .header__content 
      .top-navigation-ui
        span.button-wrap
          span.button.header__button.header__button_menu
      .header__logo-container RSLang
      .header__registration-container
        span.button-wrap
          span#button-login.button.header__button.header__button_reg
  main.main-contaner
    aside#nav.side-navigation-ui
    #main.main-ui 
      h1.main-ui__title RSLang
      #main-btns.main-ui__btns
  footer.footer-ui
    a.rsschool-link(target='_blank' href='https://rs.school/')
      img.rsschool-img(src='../../assets/svg/rss-icon.svg')
    .footer__authors
      a.author-link(target='_blank' href='https://github.com/GrigoriyYav') Grigorii Iavorskii
      a.author-link(target='_blank' href='https://github.com/ssmangilev') Sergei Mangilev
      a.author-link(target='_blank' href='https://github.com/hokmyn') Denis Kalinin
    span.footer__year 2022
