.side-navigation-ui{
  width: 100px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}