.side-navigation-ui {
  width: 48px;
  height: auto;
  display: flex;
  flex-direction: column;
  transition: width .4s;
  overflow: hidden;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.side-navigation-ui.opened {
  width: 264px;
}

.side-navigation__link {
  padding: 10px 16px 10px 44px;
  display: inline-block;
  position: relative;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: grey;
  font-size: 1.2rem;
  white-space: nowrap;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &:visited, &:active {
    color: grey;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  &::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  &_main::before {
    background: url('../assets/svg/main-icon.svg');
  }
  &_ebook::before {
    background: url('../assets/svg/ebook-icon.svg');
  }
  &_dictionary::before {
    background: url('../assets/svg/dict-icon.svg');
  }
  &_sprint::before {
    background: url('../assets/svg/games-icon.svg');
  }
  &_statistics::before {
    background: url('../assets/svg/stat-icon.svg');
  }
  &_team::before {
    background: url('../assets/svg/team-icon.svg');
  }
  &_audioTask::before {
    background: url('../assets/svg/headphones.svg');
  }
}